<!-- <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title"><%= tour.walktitle %></h3>
    <p><%= tour.description %></p>
</div> -->

<div class="uk-child-width-1-2@m sttour" uk-grid>
        <div> 
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><%= tour.walktitle %></h3>
                    <p><%= tour.description %></p>
                </div>
                <div class="uk-card-footer uk-background-muted">
                        <a href="<%= '/scheduled/' + tour.id %>" class="uk-button uk-button-text">View upcoming scheduled</a>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="<%= tour.pic %>"alt="">
                </div>
            </div>
        </div>
    </div>