<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body class="uk-background-muted">
        <% include ../partials/nav %>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">

            <h1><%= tourinfo.walktitle %></h1>
            <h2 class="uk-card-title"><%= tourinfo.neighborhood %></h2>

            <img src="<%= tourinfo.pic %>" />

            <h4 style="margin-bottom:10px;padding-bottom:0;">Success! You are confirmed for the tour <%= tourinfo.walktitle %> with guide <%= tourinfo.firstname %> <%= tourinfo.lastname %></h4>
            <h5 style="margin-top:0;padding-top:0;color:red;font-weight:700;">on <%= tourinfo.scheduled %></h5>
            
            <p>Your guide mentions the following: <%= tourinfo.guidenote %>. Should you have any questions or special requests, you may contact them at <%= tourinfo.email %></p>
        
            <p><%= tourinfo.description %> Before the tour, you may read highlights about the <a href="<%= tourinfo.mediawikiURL %>"><%= tourinfo.neighborhood %></a></p>
        
            <p>Our free (donations welcome!), regularly scheduled tours are open to the public but NOT open to parties of 8 or more. If you plan to bring 8 or more walkers to a regular tour, please click <a href="http://www.sfcityguides.org/grouptours">here</a> for more information on booking private group tours.</p>
        
            <p><strong>Meeting location:</strong> Please meet your tour guide five minutes ahead of time at <strong><%= tourinfo.meeting_spot %></strong>. Public transportation: MUNI/BART Montgomery Station; all Market Street buses & streetcars.</p>
        </div>

        <div id="map" class="map"></div>
        <script>
            var arr = ["airfield", "airport", "shop", "park", "aquarium", "gallery",  "attraction", "bakery", "bank", "bar", "beer", "bicycle", "share", "bus", "cafe", "campsite", "car", "castle", "cemetery", "cinema", "circle", "stroked", "store", "college", "dentist", "doctor", "water", "embassy", "entrance", "food", "ferry", "station", "fuel", "garden", "golf", "grocery", "harbor", "heliport", "hospital", "cream", "information", "laundry", "library", "lodging", "marker", "monument", "motorwa", "mountain", "museum", "music", "pharmacy", "site", "worship", "playground", "police", "post", "prison", "rail", "light", "metro", "christian", "jewish", "muslim", "restaurant", "rocket", "school", "stadium", "star", "suitcase", "swimming", "theatre", "toilet", "hall", "triangle", "veterinary", "volcano", "w", "zoo"];
            var lng = <%= tourinfo.longitude %>;
            var lat = <%= tourinfo.latitude %>;
            var meetingLocationCoords = [lng, lat];
            console.log("coordinates ", meetingLocationCoords.join(" "));

            // var coords = [lng, lat];
            // console.log("coordinates ", coords);
            var apikey = 'pk.eyJ1Ijoibmljb3RvMTY5IiwiYSI6ImNqcm53Y3JiYTBiNzc0OGs1ZXR0bmY5ajAifQ.DhLyPa9px0-AdhbsuOFObQ'; // 'pk.eyJ1Ijoibmljb3RvMTY5IiwiYSI6ImNqcm53Y3JiYTBiNzc0OGs1ZXR0bmY5ajAifQ.DhLyPa9px0-AdhbsuOFObQ';
            mapboxgl.accessToken = 'pk.eyJ1Ijoibmljb3RvMTY5IiwiYSI6ImNqcm53Y3JiYTBiNzc0OGs1ZXR0bmY5ajAifQ.DhLyPa9px0-AdhbsuOFObQ';

            var map = new mapboxgl.Map({
                container: 'map', 
                style: 'mapbox://styles/mapbox/streets-v9', 
                center: meetingLocationCoords, 
                zoom: 14
            });
            
            var landmarks = [
            {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: meetingLocationCoords
                },
                properties: {
                    title: "Meeting Location",
                    icon: "circle"
                }
            }];

            // var geocoder = new MapboxGeocoder({
            //     accessToken: mapboxgl.accessToken
            // });
            // map.addControl(geocoder);

            map.on('load', function() {
                // map.addSource('single-point', {
                //     "type": "geojson",
                //     "data": {
                //         "type": "Point",
                //         "coordinates": meetingLocationCoords
                //     }
                // });
                var width = 12; // 12px

                map.addLayer({
                    id: "points",
                    type: "symbol", // "circle"
                    source: {
                        type: "geojson",
                        data: {
                            type: "FeatureCollection",
                            features: landmarks
                        }
                    }, 
                    // https://docs.mapbox.com/mapbox-gl-js/example/data-driven-circle-colors/
                    // paint: {
                    //     // make circles larger as the user zooms from z12 to z22
                    //     'circle-radius': {
                    //     'base': 1.75,
                    //     'stops': [[12, 2], [22, 180]]
                    //     },
                    //     'circle-color': ['#FF00FF']
                    // },
                    layout: {
                        "icon-image": "{icon}-15",
                        "text-field": "{title}",
                        "text-font": [
                            "Open Sans Semibold",
                            "Arial Unicode MS Bold"
                        ],
                        "text-offset": [0, 0.6],
                        "text-anchor": "top"
                    }
                });
            });
        </script>
    </body>
</html>