<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    
    <body class="uk-background-muted">
        <% include ../partials/nav %>
        <h1>Schedule A New Tour: </h1>
        <form id="newtour" method="post" action="/scheduled/newtour">
            <!-- List out all tours -->
            <div class="uk-margin">
                <label class="uk-form-label" for="tour_id">Select the tour you want to schedule:</label>
                <div class="uk-form-controls"></div>
                    <select style="max-width:400px;width:80%" class="uk-select" id="tour_id" name="tour_id" autofocus>
                        <% alltours.forEach(function(tour) { %>
                        <option value="<%=  tour.id %>"><%=  tour.walktitle %></option>
                        <% }); %>
                    </select> 
                </div>
            </div>
            <!-- Prepopulate the tour guide's name and their user_id as a hidden field-->
            <div class="uk-margin">
                <label for="firstname">Firstname</label>
                <input class="uk-input uk-form-width-medium" type="text" name="firstname" placeholder="<%= firstname %>" value="<%= firstname %>"/>
            </div>

            <div class="uk-margin"></div>
                <label for="lastname">Lastname</label>
                <input class="uk-input uk-form-width-medium" type="text" name="lastname" placeholder="<%= lastname %>" value="<%= lastname %>"/>
            </div>
            
            <input type="hidden" id="user_id" name="user_id" value="<%= guideid %>" />

            <div class="uk-margin"></div>
                <label for="newtourdate">New scheduled date:</label>
                <input class="uk-input uk-form-width-medium" type="date" id="newtourdate" name="newtourdate" data-date-inline-picker="true" value="2019-05-01" max="2019-12-31" required>
            </div>

            <div class="uk-margin"></div>
                <label for="newtourtime">Choose a time for your tour:</label>
                <input class="uk-input uk-form-width-medium" type="time" id="newtourtime" name="newtourtime" min="7:00" max="20:00" step="0" required>
            </div>
            <br /><br />

            <label for="guidenote">Enter a custom message from your guide: <i>(optional)</i></label>
            <textarea class="uk-textarea" name="guidenote" id="guidenote" cols="40" rows="5"></textarea>
            
            <p uk-margin>
                    <button class="uk-button uk-button-primary" type="submit" id="submit">Schedule a new tour!</button>
            </p>
        </form>
        
        <h2>Current Scheduled Tours:</h2>
        <div>
            <% allguidetours.forEach(function(schdld) { %>
                <p><%=  schdld.scheduled %> <br/> <strong><%=  schdld.walktitle %></strong></p>
                
            <% }); %>
        </div>
        <% include ../partials/footer %>
        <script>
        $(document).ready(function(){
            // monitor the onchange of the calendar date instead of the submit.
            var today = Date();
            $('#newtourdate').attr("min", today);

            // $("#submit").on("click", function(e){
            //     e.preventDefault();
            //     alert("clicked submit");
            // $("form #newtour").submit(function(){
                // $.post("scheduled/newtour", $('#newtour').serialize(), function(data) {
                // alert(data);
                // });
            // });
            //     Sample code: 
            //     $.post("process.php", $("#reg-form").serialize(), function(data) {
            //         alert(data);
            //     });

            //     var scheduledtourdata = $('#newtour').serialize();
            //     console.log("scheduledtourdata ", scheduledtourdata);

            //     var jqxhr = $.post( "/scheduled/newtour", scheduledtourdata, function() {
            //         alert( "success" );
            //     })
            //     .done(function() {
            //         alert( "second success" );
            //     })
            //     .fail(function() {
            //         alert( "error" );
            //     })
            //     .always(function() {
            //         window.location.href = "/scheduled/guidestours";
            //         // Put some confirmation code in here, using CSS
            //     });
            //     // submit via form since when you are using ajax, you're sending data. Or do the redirect on the ajax client side.
            //     // are you going to stick with render/redirect or are you doing ajax/api. If you do the hybrid, make sure that you understand what is going on. When you send an ajax call, you are sending json or data and receiving it too.
        //     })
        });
        </script>
    </body>
</html>